html,
body {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.offers {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.App{
  padding: 20px;
  padding-right: 0;
}
