.offer-header{
  display: flex;
  gap: 10px;
}

.offer-header-per-install {
  color: #009330;
}

.offer-header-icon{
  border-radius: 20px;
  height: 80px;
}

.offer-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:5px;
}
